<div *ngIf="pokemon">
  <p>Sprites: <img src="{{ pokemon.sprites.front_default }}"> <img src="{{ pokemon.sprites.back_default }}"> <img src="{{ pokemon.sprites.front_shiny }}"> <img src="{{ pokemon.sprites.back_shiny }}"></p>

  <p>Types:</p>
  <ul *ngFor="let type of pokemon.types">
    <li class="type" [style.background] = "getTypeColor(type.type.name)">{{ type.type.name | regex }}</li>
  </ul>

  <p>Base Stats:</p>
  <ul *ngFor="let stat of pokemon.stats">
    <li>{{ stat.stat.name | regex }}: {{ stat.base_stat }}</li>
  </ul>
  
</div>
