<div style="text-align: center;">
  <div class="container-fluid content-row" >
    <div class="row">
      <div class="col-sm-3 col-lg-2 mt-5 d-flex align-items-stretch" *ngFor="let pokemon of pokemons">
        <summary class="card h-100 card text-white bg-dark border-danger" [routerLink]="['/pokemon', pokemon.name]">
          <h5 class="card-header">{{ pokemon.name | titlecase }}</h5>
          <img 
            class="card-img-bottom animated bounce"
            src="{{ pokemon.details?.sprites.front_default }}"
            alt="photo of {{ pokemon.name }}"
          />
        </summary>
      </div>
        <!--Elvis operator (?) means "access the property to the right of this operator if the operand to the left is defined". -->
    </div>
  </div>
  <br>
  <button class="btn btn-danger btn-lg" (click)="getNextPage()">Next Pokemon Page &rarr;</button>
</div>
