<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-10 mx-auto">
      <div class="jumbotron border border-info" style="background: white;">
        <p class="lead">
          <button class="btn btn-primary btn-lg" (click)="goBack()" >&larr; Go Back</button>
        </p>
        <div class="card col-3 d-flex align-items-stretch mx-auto">
          
          <div *ngIf="pokemonDetails">
            <div class="card-header">{{ pokemonDetails.name | titlecase }}</div>
            <img
              src="{{ pokemonDetails.sprites.front_default }}"
              class="card-img-bottom"
              alt="photo of {{ pokemonDetails.name }}"
            />
          </div>
        </div>

        <div class="card mt-3">
          <app-pokemon-profile [pokemon]="pokemonDetails"></app-pokemon-profile>
        </div>
        <br />
        <div class="card mt-3">
          <app-pokemon-stats [pokemon]="pokemonDetails"></app-pokemon-stats>
        </div>
        <div class="card mt-3">
          <app-pokemon-moves [pokemon]="pokemonDetails"></app-pokemon-moves>
        </div>
      </div>
    </div>
  </div>
</div>
