<div *ngIf="pokemon">
  <ul>
    <li>Weight: {{ pokemon.weight }}</li>
    <li>Height: {{ pokemon.height }}</li>
    <li>Base Experience: {{ pokemon.base_experience }}</li>
  </ul>

  <p>Abilities:</p>
  <ul *ngFor="let ability of pokemon.abilities">
    <li>{{ ability.ability.name | regex }}</li>
  </ul>
</div>
